html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
height: 100vh;
width: 100vw;
overflow: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*-------------------------------Main code   INDEX ---------------------------------------------------------*/

.wrapper
{
	height: 660px;
	width: 1350px;
	/*background-color: red;*/
}
header
{
	height: 130px;
	width: 1340px;
	background-color: black;
	padding: 10px;
}
img{
	width: 100%;
}
/* section
{
	height: 550px;
	width: 1361px;
	background-color: grey;
} */

.logo
{
	float :left;
	padding-left: 20px;

}
.logo img 
{
	padding-left: 80px;
}

li a
{
	color: white;
	text-decoration: none;
}
nav
{
	float: right;
	word-spacing: 30px;
	padding: 20px;
}
nav li 
{
	display: inline-block;
	line-height: 80px;
}

section .sec_img
{
	height: 550px;
	margin-top: 0px;
	/* background-image: url("images/background.png"); */
}
.box
{
	height: 300px;
	width: 450px;
	background-color: #030002;
	margin: 70px auto;
	opacity: .6;
	color: white;
}

/*--------------------------------st_login-----------------------------*/

.log_img
{
	height: 650px;
	margin-top: 0px;
	background-image: url("https://images.unsplash.com/photo-1419640303358-44f0d27f48e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=785&q=80");
	background-size: cover;
	background-repeat: none;
}

.box1
{
	height: 350px;
	width: 400px;
	background-color: black;
	margin: 70px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
form .login
{
	margin: auto 50px;
}
input
{
	height: 25px;
	width: 300px;

}
/*------------------------------registration--------------------*/
.reg_img

{
	padding-top: 50px;
	background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
	background-repeat: none;
	background-size: cover;
	height: 100vh;
}
.box2
{
	width: 400px;
	border-radius: 40px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
.box2 button{
	padding: 5px 20px;
	cursor: pointer;
	background-color: #010101;
	border: none;
	outline: none;
	color: #f1f1f1;
	box-shadow: 0 2px 5px #f1f1f1;
}
.comfirm_pass{
	display: none;
}
.pass_match{
	display: none;
}

.comfirm_pass,
.pass_match{
	color: red;
}

.show-pass{
	margin: auto 0 15px 0;
}

#check{
	padding: 0;
	margin: 0;
	height: 15px;
	width: 15px;
}